.url {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__header {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    text-align: center;
    color: #000000;
    margin-top: 26px;
  }

  &__define {
    margin-top: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #555555;
  }

  &__form {
    display: flex;
    margin-top: 15px;
    flex-wrap: nowrap;
    border: 4px solid transparent;
    border-radius: 6px;
  }

  &__hover {
    border: 4px solid rgba(254, 44, 85, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.06));
    border-radius: 6px;
  }

  &__input {
    width: 515px;
    height: 45px;
    outline: none;
    padding-left: 12px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    border: 1px solid #FE2C55;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
    border-radius: 4px 0px 0px 4px;

    &::placeholder {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 20px;
      color: #888888;
    }

  }

  &__button {
    background: #FE2C55;
    border: 1px solid #FE2C55;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
    border-radius: 0px 4px 4px 0px;
    width: 125px;
    height: 45px;
    outline: none;
    border: none;
    background-color: #FE2C55;
    color: #ffffff;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }

  &__howto {
    margin-top: 23px;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #555555;
    cursor: pointer;
    background: transparent;
    border: none;

    &--text {
      padding-left: 7px;
      padding-right: 6px;
    }
  }

  &__adsense {
    margin-top: 19px;
    max-width: 960px;
    width: 100%;
    height: 150px;
    display: block;
    background-color: tomato
  }

  @include max-width(768px) {
    &__header {
      font-size: 22px;
    }

    &__define {
      font-size: 16px;
    }

    &__input {
      width: 400px;
    }
  }

  @include max-width(600px) {
    &__input {
      width: 300px;
    }

    &__button {
      width: 106px;
      font-size: 14px;
    }
  }

  @include max-width(450px){
    &__input{
      width:247px;
      font-size: 14px;
      &::placeholder{
        font-size: 14px;
      }
    }

    &__howto{
      &--text{
        font-size: 16px;
      }
    }
  }

  @include max-width(376px){
    &__input{
      width:230px;
      font-size: 13px;
      &::placeholder{
        font-size: 13px;
      }
    }
  }

  @include max-width(350px){
    &__input{
      width:200px;
    }
  }

}